@import '../Variables.scss';

.card {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 1rem;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: $bg-color 5px solid;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transform: scale(1);
    &:hover, &:focus {
        transform: scale(1.05);
    }
    h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        text-shadow: black 0px 0px 10px;
        text-align: center;
    }
    &.selected {
        border: yellow 5px solid;
        transform: scale(0.95);
    }
    &.isInEpisode {
        &.selected {
            border: green 5px solid;
        }
        &:not(.selected) {
            border: red 5px solid;
        }
    }
}