@import '../Variables.scss';

.guessing-game {
    .episode-title {
        display: block;
        font-size: 1.2em;
        color: $morty-shirt-yellow;
        margin-top: .5em;
        line-height: 1.2em;
    }
    .answer-block {
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
        justify-content: center;
    }
}