@import 'Variables.scss';

html, body {
  background-color: $bg-color;
  color: $font-color;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 16px;
}
body {
  padding: 0 15px;
}
h1, h2, h3, h4 {
  color: white;
  font-family: 'Gloria Hallelujah', cursive;
  // -webkit-text-stroke: .2px #444;
  // text-shadow: rgba(255,255,255,0.7) 0 0 10px;
}
h1 {
  color: $header-color;
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 1.7em;
}
button {
  color: white;
  background-color: $rick-hair-blue;
  border: none;
  font-size: 2em;
  margin: 15px;
  padding: 10px 15px;
  border-radius: 15px;
}

#root,
.App {
  width: 100%;
}